/*Main Layout CSS*/

.nav {
    background: rgba(206, 206, 206, 0.34);
}

.nav img {
    float: right;
    width: 150px;
    margin-right: 1.2em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    width: auto;
}

.row {
    margin: 0;
}

.fa-bars {
    margin: 20px;
}

.fa-bars:hover {
    cursor: pointer;
}

.input-forms,
.result-div {
    padding: 4px;
    /*min-height: 530px;*/
    margin-top: 30px;
    background: rgba(206, 206, 206, 0.34);
}

#menu-content,
.main-body {
    position: absolute;
    top: 82px;
    bottom: 0px;
}

#menu-content {
    /*position: relative;*/
    padding-top: 20px;
    /*top: 0px;*/
    height: auto;
    width: 200px;
    list-style: none;
    text-align: left;
    padding: 2px;
    color: white;
    font-size: 20px;
    z-index:10;
    background: #9E9E9E;
    
}
#menu-content li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.main-body {
    left: 0;
    right: 0;
}
/*Relavant to D3 graph*/

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 2px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 110px;
    height: auto;
    word-wrap: break-word;
}

circle.circle {
    fill: red;
}

circle.circle:hover {
    fill: #2cad3b
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}
.layover-bar:hover{
    opacity: 0.2;
    z-index: -1;
}