/*Main Layout CSS*/

.nav {
    background: rgba(206, 206, 206, 0.34);
}

.nav img {
    float: right;
    width: 150px;
    margin-right: 1.2em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    width: auto;
}

.row {
    margin: 0;
}

.fa-bars:hover {
    cursor: pointer;
}

.input-forms,
.result-div {
    background: rgba(206, 206, 206, 0.34);
}

#menu-content,
#help-content {
    position: absolute;
    top: 34px;
    bottom: 0px;
     width: 40%;
}

.main-body {
    position: absolute;
    top: 100px;
    bottom: 0px;
}

#menu-content {
    height: auto;
    list-style: none;
    text-align: left;
    color: white;
    font-size: 20px;
    z-index: 10;
    background: #9E9E9E;
}

#menu-content li:hover {
    cursor: pointer;
    color:greenyellow;
}

#help-content {
    position: absolute;
    right: 0;
    height: auto;
    text-align: left;
    color: white;
    font-size: 14px;
    z-index: 10;
    background: #9E9E9E;
}

.main-body {
    left: 0;
    right: 0;
}


/*Relavant to D3 graph*/

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 2px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 110px;
    height: auto;
    word-wrap: break-word;
}

circle.circle:hover {
    fill: #2cad3b
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.graph-info {
    display: none;
}

/*.data-table {
    overflow: auto;
}*/

.highlight-data {
    background: yellow;
    fill: lightgreen;
    r: 5;
}

[class^="data"] {
    border-top: 1px solid black;
}

@media screen and (max-width: 767px) {
    .data-table {
        margin-top: 50px;
    }
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
thead, tbody{
    display: block;
}
tbody{
    overflow: scroll;
}